@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700');
/*-------------------------------Nav Bar----*/

.navbar {
    border-style: solid;
    border-width: 2px;
    border-color: #dda15e;

}

.text{
    font-family: "Quicksand"; 
    color: #fefae0 !important;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;

}
   
li {
    display:inline;
}

.contact {
    margin-right: 25px;
}

.dropdown-menu {
    margin-right: 50px;
    padding-right: 25px;
}


@media (min-width: 796px){
.nav-item {
    padding: 5%;
    }
}

@media (min-width: 796px){ 
.header a:hover {
    /*--background-color: #dda15e;--*/
    text-align: center;
    transform: scale(1.25);
    align-content: center;
    /*--border-style: solid;
    border-width: 1px;
    border-color: #fefae0;--*/
    transition:.2s ease-in
    
}
}

 .fa-pagelines {
    color: #fefae0 !important;
    font-size: 200%;
}

/*---------------------------------footer--*/

.footer {
    background-color: #bc6c25;
    text-align: center;
    
}

.footer-icon {
    padding: 15px;
    
}

.fa-facebook {
    color:#fefae0;
    
}

.fa-instagram {
    color:#fefae0;
    
}

.fa-twitter {
    color:#fefae0;
    
}

a:hover {
    text-decoration: none;
}

