@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700');
/*-------------------------------Nav Bar----*/

.nav-item .text{
    font-family: "Quicksand"; 
    color: #fefae0;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;

}
   
li {
    display:inline;
}

.contact {
    margin-right: 25px;
}

.dropdown-menu {
    margin-right: 50px;
    padding-right: 25px;
}


@media (min-width: 796px){
.nav-item {
    padding: 5%;
    }
}

@media (min-width: 796px){ 
.header a:hover {
    background-color: #dda15e;
    text-align: center;
    transform: scale(1.25);
    border-radius: 50%;
    height: 130%;
    width: 130%;
    align-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #fefae0;
    transition:.2s ease-in
}
}

